/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'PT Sans', sans-serif;
}

.flex{
  display: flex;
}

.container{
  width: 95%;
  margin: 0 auto;
}

a{
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: #b5ddff;
  padding: 1rem 1rem 0 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2{
  color: #509be7;
}

.icons{
  color: #509be7;
  font-size: 5rem;
}

.text{
  text-align: center;
}

.pb-2{
  padding-bottom: 2rem;
}

.pt-2{
  padding-top: 2rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-4{
  margin-bottom: 4rem;
}

/* header */
.header{
  background-color: #509be7;
  vertical-align: middle;
  padding: 0.5rem 0;
  color: white;
}

.menu-items{
  justify-content: space-between;
  align-items: center;
}

.menu-list{
  list-style: none;
  gap: 0.7rem;
  font-size: 0.7rem;
  display: none;
}

.start{
  background-color: white;
  color: #509be7;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

/* main */
/* features section */
.card h2{
  text-align: center;
}

.app-store i{
  padding-right: 1rem;
}

.app-store{
  text-align: center;
  color: white;
  background-color: #509be7;
  padding: 0.5rem;
  border-radius: 20px;
  width: 200px;
}

.card-img{
  width: 50%;
}

/* planning section */
.planning{
  background-color: #9792e4;
  padding-bottom: 3rem;
  text-align: center;
}

.img-planning{
  width: 100%;
  text-align: center;
}

.strategic-planning-img{
  width: 50%;
}

.specific-planning{
  color: white;
}

.specific-planning p{
  text-align: left;
}

.app-development{
  background-color: white;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 2rem 1rem;
}

.app-development-img{
  width: 50%;
}

.app-development p{
  text-align: center;
}

.app-development i{
  background-color: #9792e4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

/* responsive */

/* teblet */
@media screen and (min-width: 768px) {
  .col-large{
    width: calc(100% / 3 * 2 - 1rem);
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
  }

  .col-large p{
    text-align: left;
  }

  .features{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .col-small{
    width: calc(100% / 3 - 1rem);
    margin: 0;
    padding-top: 0;
  }

  .col-margin{
    margin-top: 2rem;
  }

  .icons{
    padding-top: 1.5rem;
  }

  .strategic-planning-img{
    width: 80%;
  }

  .specific-planning h2{
    font-size: 2rem;
  }

  .app-development-img{
    width: 80%;
  }

}

/* desktop */
@media screen and (min-width: 992px) {
  .menu-list{
    display: inline-flex;
  }

  .menu-items .hamburger {
    display: none;
  }

  .strategic-planning-img{
    width: 100%;
    padding: 10rem 0;
  }

  .specific-planning h2{
    font-size: 1rem;
  }

  .app-development-img{
    width: 50%;
  }

  .planning-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 80%;
    gap: 50px;
  }

  .specific-planning h2{
    text-align: left;
  }

  .app-development{
    height: 60%;
  }

  .specific-planning p{
    padding-bottom: 0;
  }

}

