/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* common */
body{
  font-family: 'PT Sans', sans-serif;
}

.flex{
  display: flex;
}

.container{
  width: 80%;
  margin: 0 auto;
  border: 1px solid red;
}

a{
  color: inherit;
  text-decoration: none;
}

.card {
  background-color: #b5ddff;
  padding: 1rem 1rem 0 1rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card h2{
  color: #509be7;
}

.icons{
  color: #509be7;
  font-size: 5rem;
}

.text{
  text-align: center;
}

.pb-2{
  padding-bottom: 2rem;
}

.pt-2{
  padding-top: 2rem;
}

.mt-2{
  margin-top: 2rem;
}

.mb-4{
  margin-bottom: 4rem;
}

.mb-2{
  margin-bottom: 2rem;
}

img{
  width: 100%;
}

/* header */
.header{
  background-color: #509be7;
  vertical-align: middle;
  padding: 0.5rem 0;
  color: white;
}

.menu-items{
  justify-content: space-between;
  align-items: center;
}

.menu-list{
  list-style: none;
  gap: 0.7rem;
  font-size: 0.7rem;
  display: none;
}

.start{
  background-color: white;
  color: #509be7;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

/* main */
/* features section */

.features{
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.card-large{
  background-color: #b5ddff;
  padding: 2rem 2rem 0 2rem;
  border-radius: 20px;
}

.card-large h2{
  color: #509be7;
}

.card-large img{
  display: block;
}

#get-demo{
  text-align: left;
}

.col-large p, h2{
  text-align: left;
}

.app-store i{
  padding-right: 1rem;
}

.app-store{
  text-align: center;
  color: white;
  background-color: #509be7;
  padding: 0.5rem;
  border-radius: 20px;
  width: 200px;
  display: block;
}

.card-img{
  width: 50%;
  max-width: 280px;
}

/* planning section */
.planning{
  background-color: #9792e4;
  padding-bottom: 3rem;
  text-align: center;
}

.img-planning{
  width: 100%;
  text-align: center;
}

.strategic-planning-img{
  width: 100%;
}

.specific-planning{
  color: white;
}

.specific-planning p{
  text-align: left;
}

.app-development{
  background-color: white;
  border-radius: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1rem 2rem 1rem;
}

.app-development-img{
  width: 100%;
}

.app-development p{
  text-align: center;
}

.app-development i{
  background-color: #9792e4;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  text-align: center;
}

/* testimonial section */
.testimonials {
  text-align: center;
  margin-top: 4rem;
}

.testimonials h2{
  color: #9792e4;
  font-size: 2rem;
  text-align: center;
}

.testimonials-card{
  background-color: #9792e4;
  color: white;
  padding: 2rem 1rem;
  border-radius: 50px;
}

.testimonial-img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
}

.quote-author{
  font-weight: 600;
  font-size: 1.2rem;
}

/* benefits section */
.benefits{
  background-color: #9792e4;
}

.benefits-title{
  color: white;
  font-size: 2rem;
}

.card-benefits{
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
}

.card-benefits span{
  font-weight: 600;
  color: #9792e4;
  font-size: 3rem;
}

.card-benefits h2{
  color: #9792e4;
}

.card-benefits a{
  color: white;
  background-color: #9792e4;
  padding: 0.5rem 3rem;
  border-radius: 60px;
  font-weight: 800;
}

/* about us section */
.col-70 h2{
  color: #9792e4;
  font-size: 3rem;
}

.col-70 p{
  line-height: 40px;
}

.col-30 img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: relative;
}

.col-30 p{
  color: #9792e4;
  font-size: 2rem;
  font-weight: 800;
}

.col-30 a{
  background-color: #9792e4;
  color: white;
  border-radius: 20px;
  padding: 0.5rem 0.75rem;
}

.linkedin{
  padding-right: 0.5rem;
}

/* responsive */

/* teblet */
@media screen and (min-width: 768px) {

  .container{
    width: 90%;
  }

  .features-row{
    display: flex;
    flex-wrap: wrap;
  }

  .col-large{
    width: calc(100% / 3 * 2 - 0.75rem);
    margin-right: 0.75rem;
    margin-bottom: 1rem;
  }

  .col-large p{
    text-align: left;
  }

  .features{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .col-small{
    width: calc(100% / 3 - 1.5rem);
    margin: 0;
    margin-right: 0.75rem;
    margin-left: 0.75rem;
    margin-bottom: 1rem;
  }

  .icons{
    padding-top: 1.5rem;
  }

  .strategic-planning-img{
    width: 100%;
    padding: 3rem 0;
  }

  .specific-planning h2{
    font-size: 3rem;
    text-align: left;
  }

  .app-development-img{
    width: 100%;
  }

  .testimonials-card{
    display: flex;
    position: relative;
  }

  .testimonial-img{
    margin-right: 2rem;
  }

  .testimonials-card p{
    text-align: left;
  }

  .quote-author{
    position: absolute;
    bottom: 50px;
    left: 250px;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefits .col{
    width: calc(100% / 2 - 1.5rem);
    /* margin-right: 0.75rem;
    margin-left: 0.75rem; */
  }

  .about-us .container{
    display: flex;
    justify-content: space-between;
  }

  .col-70{
    width: 50%;
  }

  .col-30{
    width: 30%;
    margin-top: 2rem;
  }
}

/* desktop */
@media screen and (min-width: 992px) {

  .container{
    width: 90%;
    max-width: 1100px;
  }
  .col-large{
    display: flex;
  }
  
  .card-img{
    display: block;
  }

  .app-store{
    display: block;
  }

  .menu-list{
    display: inline-flex;
  }

  .menu-items .hamburger {
    display: none;
  }

  .strategic-planning-img{
    width: 100%;
    padding: 10rem 0;
  }

  .specific-planning h2{
    font-size: 1rem;
  }

  .app-development-img{
    width: 50%;
  }

  .planning-flex{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: 50px;
  }

  .specific-planning h2{
    text-align: left;
  }

  .app-development{
    height: 60%;
  }

  .specific-planning p{
    padding-bottom: 0;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .benefits .col{
    width: calc(100% / 3 - 2rem);
    /* margin-right: 0.75rem;
    margin-left: 0.75rem; */
  }

  .col-70{
    width: 70%;
    margin-right: 3rem;
  }

  .col-30{
    width: 30%;
    margin-top: 2rem;
  }

  .quote-author{
    position: absolute;
    bottom: 70px;
    left: 250px;
  }
}

